* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
    background-color: hsl(0, 0%, 95%);
}

@media screen and (max-width: 400px) {
    h1 {
        text-transform: uppercase;
        color: hsl(0, 0%, 95%);
        font-family: 'Big Shoulders Display', cursive;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    
    p {
        color: hsla(0, 0%, 100%, 0.75);
        font-family: 'Lexend Deca', sans-serif;
        line-height: 1.9;
        margin-bottom: 30px;
    }
    
    .card {
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        margin: 90px 25px;
    }
    
    .sedans {
        background-color: hsl(31, 77%, 52%);
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding: 50px;
    }
    
    button {
        padding: 20px 30px;
        border: none;
        border-radius: 50px;
    }
    
    .btn1 button {
        background-color: hsl(0, 0%, 95%);
        color: hsl(31, 77%, 52%);
    }
    
    .suvs {
        background-color: hsl(184, 100%, 22%);
        padding: 50px;
    }
    
    .btn2 button {
        background-color: hsl(0, 0%, 95%);
        color: hsl(184, 100%, 22%);
    }
    
    .luxury {
        background-color: hsl(179, 100%, 13%);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 50px;
    }
    
    .btn3 button {
        background-color: hsl(0, 0%, 95%);
        color: hsl(179, 100%, 13%);
    }
}

@media screen and (min-width: 1400px) {
    h1 {
        text-transform: uppercase;
        color: hsl(0, 0%, 95%);
        font-family: 'Big Shoulders Display', cursive;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    p {
        color: hsla(0, 0%, 100%, 0.75);
        font-family: 'Lexend Deca', sans-serif;
        line-height: 1.9;
        margin-bottom: 85px;
    }

    .card {
        display: flex;
        margin: 160px 240px;
        border-radius: 8px;
    }

    .sedans {
        background-color: hsl(31, 77%, 52%);
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        padding: 50px;
    }

    button {
        padding: 20px 30px;
        border: none;
        border-radius: 50px;
    }

    .btn1 button {
        background-color: hsl(0, 0%, 95%);
        color: hsl(31, 77%, 52%);
    }

    .suvs {
        background-color: hsl(184, 100%, 22%);
        padding: 50px;
    }

    .btn2 button {
        background-color: hsl(0, 0%, 95%);
        color: hsl(184, 100%, 22%);
    }

    .luxury {
        background-color: hsl(179, 100%, 13%);
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 50px;
    }

    .btn3 button {
        background-color: hsl(0, 0%, 95%);
        color: hsl(179, 100%, 13%);
    }
    
}